main {
    background-color: #FFFBFE;
}

.main-header {
    width: 100%;
    background-color: #33493D;
    position: fixed;
    z-index: 1;
}

.main-header .main-header-content {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;

}


.main-header .main-header-content img {
    flex-basis: 330px;
    padding: 20px 0;
    width: 290px;
    justify-content: flex-start;
}

.main-header .main-header-content .main-header-conntent-menu {
    flex-basis: calc(100% - 330px);
    display: flex;
    justify-content: flex-end;
}

.main-header-conntent-menu ul {
    display: flex;
    align-items: stretch;
}

.main-header-conntent-menu ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

.main-header-conntent-menu ul li a {
    padding: 0 35px;
    display: flex;
    align-items: center;
    height: 100%;
    color: #D17A22
}

.main-header-conntent-menu ul li a:hover {
    background: #D17A22;
    color: #FFFBFE
}

.main-cta {
    padding-top: 138px;
    width: 100%;
    background-color: #33493D;
    background-image: url(../../_img/projeto.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.main-cta .main-cta-content {
    max-width: 1300px;
    margin: 0 auto;
}

.main-cta .main-cta-content h1 {
    font-size: 3em;
    color: #FFFBFE;
    font-weight: 700;
    text-align: center;
}

.main-cta-content p {
    font-size: 1.75em;
    color: #FFFBFE;
    font-weight: 300;
    text-align: center;
    margin: 20px 0;
}

.main-cta-content .main-cta-content-spacer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-cta-content .main-cta-content-spacer p {
    width: 100%;
}

.main-cta-content .main-cta-content-spacer button {
    flex-basis: 15%;
    background-color: #D17A22;
    border-radius: 5px;
    color: #FFFBFE;
    font-size: 1em;
    font-weight: 500;
    ;
    padding: 10px 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: none;
}

.main-cta-content .butn:hover {
    background-color: #4D0610;
}

.main-cta-content-spacer {
    margin: 0 auto;
    max-width: 1300px;
    padding: 160px 40px;
}

.main-blog {
    max-width: calc(1300px - 40px);
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #FFFBFE;
}

.main-blog .main-blog-header {
    margin: 30px 0px;
    flex-basis: 100%;
}

.main-blog-header h1 {
    color: #33403d;
    margin-bottom: 5px;
    font-size: 1.8em;
}

.main-blog article {
    opacity: 0.7;
    flex-basis: calc(25% - 20px);
    margin-bottom: 30px;
}

.main-blog article:hover {
    opacity: 1;
}

.main-blog article img {
    width: 100%;
}

.main-blog article .category {
    font-size: 0.875em;
    color: #D17A22;
}

.main-blog article p {
    margin: 7px 0;
}

.main-blog article h2 {
    font-weight: 300;
    color: #33403d;
}

.main-blog article h2 a {
    color: #33493D
}

#botao-topo {
    background: none;
    border: none;
    bottom: 20px;
    cursor: pointer;
    display: none;
    outline: none;
    padding: 15px;
    position: fixed;
    right: 30px;
    z-index: 99;


}

#botao-topo img {
    height: 40px;
    width: 40px;
}

/* EMAIL */

.main-optin {
    width: 100%;
    background-color: #33493D;
    margin: 40px 0;
}

.main-optin-content {
    max-width: calc(1300px - 40px);
    padding: 40px 20px;
    margin: 0 auto;
    display: flex;
}

.main-optin-content header,
.main-optin-content form {
    flex-basis: 50%;
}

.main-optin-content header h1,
.main-optin-content p {
    color: #FFFBFE;
    margin-right: 20px;
    text-align: right;
}

.main-optin-content header h1 {
    font-size: 1.2em;
    font-weight: 400;
}

.main-optin-content p {
    font-weight: 300;
    font-size: 0.875em;
}

.main-optin-content form {
    display: flex;
    justify-content: space-between;
}

.main-optin-content form input[type=text],
.main-optin-content form input[type=email] {
    flex-basis: 37%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: none;
    padding: 0 10px;
}

.main-optin-content form button {
    flex-basis: 20%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: none;
    background-color: #D17A22;
    color: #fffbfe;
    font-size: 0.875em;
}

.main-optin-content form button:hover {
    flex-basis: 20%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: none;
    background-color: #4D0610;
    color: #fffbfe;
    font-size: 0.875em;
}

/* ASSETS DO CURSO */

.main-assets {
    width: 100%;
    background-color: #FFFBFE;
}

.main-assets-header {
    max-width: 780px;
    padding: 0 20px;
    margin: 0 auto;
    text-align: center;
    color: #4D0610;
    margin-bottom: 40px;
}

.main-assets-header img {
    margin-bottom: 20px;
}

.main-assets-header h1 {
    font-size: 3em;
    margin-bottom: 10px;

}

.main-assets-content {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
}

.main-assets-content article {
    flex-basis: calc(50% - 40px);
    margin: 20px 0;
    background-color: #e6ebe6;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 20px;
    color: #6d121e;
}

.main-assets-content article h2 {
    font-size: 1.2em;

    margin-bottom: 4px;
}

.main-assets-content article p {
    font-size: 0.9em;
    color: 333;
}

/* AVALIAÇÕES DOS ALUNOS */

.main-review {
    width: 100%;
    background-color: #D17A22;
    padding: 40px 0;

}

.main-review-content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;

}

.main-review-content-title {
    color: #fffbfe;
    text-align: center;
}

.main-review-content-title h2 {
    font-size: 2.4em;
    margin-bottom: 20px;
}

.main-review-content-comments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-review-content-comments>header {
    flex-basis: 100%;
    color: #fffbfe;
    text-align: center;
    margin-top: 20px;
    font-size: 1.7em;
    margin-bottom: 20px;
}


.main-review-content-comments article {
    flex-basis: calc(50% - 20px);
    margin: 20px 0;
    background-color: #fffbfe;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 20px;
    color: #6d121e;
}

.main-review-content-comments article h3 {
    color: #4D0610;
    font-size: 1.2em;
    margin-bottom: 4px;
}

.main-review-content-comments article img {
    width: 15px;
    margin-top: 5px;
    margin-bottom: 2px;
}

/* SOBRE A ESCOLA E PREMIAÇÕES */

.main-school {
    width: 100%;
    background-color: #FFFBFE;
    
}

.main-school-content {
    max-width: 1300px;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.main-school-content-header {
    flex-basis: 100%;
    padding: 40px 0;
    color: #4D0610;
}

.main-school-content-header h1 {
    font-size: 2.2em;
    margin-bottom: 10px;
}

.main-school-content-left {
    flex-basis: calc(70% - 20px);
}

.main-school-content-left-content>header>p {
    color: #fffbfe;
    padding: 10px 10px;
    background-color: #33403d;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 20px;
}

.main-school-content-left-content>header>p a {
    color: #fffbfe;
    font-size: 0.9em;
}

.main-school-content-left-content>header>p a:hover {
    text-decoration: underline;
}

.main-school-content-left-content>header>p span {
    margin-left: 20px;
}

.main-school-content-left-content>header>h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.main-school-content-left-content>p {
    margin-bottom: 20px;
    color: #33403d;
}

.main-school-trophies {
    width: 100%;
    background-color: #e6ebe6;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-school-trophies>header {
    flex-basis: 100%;
    margin-bottom: 10px;
    color: #D17A22;
}

.main-school-trophies>article {
    flex-basis: calc(50% - 10px);
}

.main-school-trophies>article>header>h3 {
    font-weight: 300;
    margin: 4px 0;
}

.main-school-content-right {
    flex-basis: 30%;
}

.main-school-content-right img {
    width: 90%;
    margin-left: 40px;
    border-radius: 50%;
}

.main-school-address {
    flex-basis: 100%;
    padding: 45px 0;
    text-align: center;
}

.main-school-address h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

/* TUTOR */

.main-tutor {
    width: 100%;
    background-color: #33493D;
}

.main-tutor-content {
    max-width: calc(1300px - 80px);
    padding: 40px;
    margin: 0 auto;
    color: #fffbfe;
    text-align: center;
}

.main-tutor-content>header>h1 {
    font-size: 2em;
    margin-bottom: 4px
}

.main-tutor-content>header>p {
    margin-bottom: 12px;
}

.main-tutor-content-img {
    margin: 20px auto;
}

.main-tutor-content-img img {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    max-width: 220px;
    padding: 2.5px;
    background-color: #fffbfe;
}

.main-tutor-content-history h2 {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.main-tutor-content-history p {
    margin-bottom: 40px;
    padding: 0 20px;
}

.main-tutor-socialmedia {
    max-width: 800px;
    padding: 20px;
    margin: 0px auto;
    background-color: #D17A22;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-tutor-socialmedia>header {
    flex-basis: 100%;
    font-size: 1.4em;
    margin-bottom: 20px;
}

.main-tutor-socialmedia>article {
    flex-basis: 24%;
}

.main-tutor-socialmedia>article h3 {
    font-size: 0.9em;
    margin-bottom: 10px;
    margin-top: 10px;
}

.main-tutor-socialmedia>article h3 a {
    background-color: #fffbfe;
    color: #D17A22;
    padding: 10px 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.main-tutor-socialmedia>article h3 a:hover {
    background-color: #4D0610;
    color: #fffbfe;
}

/* OPTIN & FOOTER */

.main-optinfooter {
    width: 100%;
    background-color: #ebebeb;
    margin: 0;
}

.main-optinfooter-content {
    max-width: 1300px;
    padding: 40px;
    margin: 0 auto;
    text-align: center;
}

.main-optinfooter-content header h1 {
    font-size: 1.4em;
    color: #33403d;
    margin-bottom: 40px;
}

.main-optinfooter-content .butn {
    background-color: #D17A22;
    color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 1.2em;
    padding: 10px 20px;
}

.main-optinfooter-content .butn:hover {
    background-color: #4D0610;
}

.main-footer {
    max-width: 1300px;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    color: #333
}

.main-footer>header {
    flex-basis: 100%;
}

.main-footer>header h1 {
    font-size: 1.4em;
    margin-bottom: 40px;
}

.main-footer-ourclasses,
.main-footer-links {
    flex-basis: 25%;
}

.main-footer-project {
    flex-basis: 50%;
}

.main-footer>article h2 {
    margin-bottom: 20px;
}

.main-footer>article ul li {
    list-style: none;
    margin: 5px 0;
}

.main-footer>article ul li a {
    color: #333;
}

.main-footer>article ul li a:hover {
    text-decoration: underline;
}

.footer-rights {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    ;
    background-color: #f7f7f7;
    border-top: 1px solid #ccc;
}




.ds-none {
    display: none !important;
}







.main-header-content-menu-mobile {
    flex-basis: calc(100% - 330px);
    display: none;
    justify-content: flex-end;
}

.main-header-content-menu-mobile ul {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.main-header-content-menu-mobile ul li {
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
}

.main-header-content-menu-mobile-obj {
    display: flex;
    align-items: center;
    padding: 20px;
    color: #6d121e;
    border-radius: 4px 4px 0 0;

}

.main-header-content-menu-mobile-obj:hover {
    color: #6d121e;
    background-color: #D17A22;
}

.main-header-content-menu-mobile-obj-click {
    background-color: #D17A22;
}

.main-header-content-menu-mobile-sub {
    min-width: 200px;
    background-color: #D17A22;
    border-radius: 4px 0 4px 4px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: absolute;
    top: 100%;
    right: -20px;
}

.main-header-content-menu-mobile-sub li{
    flex-basis: 100%;

}

.main-header-content-menu-mobile-sub li a {
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 10px 0;
}

.main-header-content-menu-mobile-sub li a:hover {
    background-color: #bd6711;
    border-radius: 4px 0 4px 4px;
}


/* 1024 pixels */
@media (max-width: 64em){

    .main-cta .main-cta-content h1 {
        font-size: 2.5em;
    }

    .main-cta .main-cta-content .main-cta-content-spacer {
        padding: 100px 30px;
    }

    .main-cta .main-cta-content .butn {
        font-size: 0.9em;
        min-width: 91px;
    }

    .main-optin .main-optin-content {
        flex-wrap: wrap;
    }

    .main-optin .main-optin-content header {
        margin-bottom: 20px;
    }

    .main-optin .main-optin-content form input{
        padding: 6px 12px;
    }

    .main-optin-content form, .main-optin-content header {
        flex: 100%;
        margin: 0 auto;
    }

    .main-optin-content header p, .main-optin-content header h1{
        text-align: center;
    }

    .main-school-content-left {
        flex-basis: 100%;
    }

    .main-school-content-right {
        flex-basis: 200px;
        max-width: 200px;
        padding: 20px;
    }

    .main-school-content-right img {
        margin-left: 0;
    }

    .main-school-address {
        flex-basis: calc(100% - 200px);
        margin: auto;
    }

}

/* 1024 pixels */
@media (max-width: 57em){

    .main-header-conntent-menu ul li a {
        padding: 0 20px;
        display: flex;
        align-items: center;
        height: 100%;
        color: #D17A22;
    }

    .main-blog article{
        flex-basis: calc(33% - 10px);
    }

}



/* 768 pixels */
@media (max-width: 49em){

.main-header-conntent-menu {
    display: none !important;
}

.main-header .main-header-content .logo {
    flex-basis: 300px !important;
}

.main-header .main-header-content .logo img{
    width: 100% !important;
}

.main-header-content-menu-mobile {
    flex-basis: calc(100% - 300px) !important;
    display: none;
    justify-content: flex-end;
}

.main-header-content-menu-mobile {
    display: flex;
}

.main-cta .main-cta-content h1 {
    font-size: 2em;
}

.main-cta .main-cta-content .main-cta-content-spacer {
    padding: 60px 30px;
}

.main-cta .main-cta-content .main-cta-content-spacer p {
    font-size: 1.2em;
}

.main-cta .main-cta-content .butn {
    font-size: 0.9em;
    min-width: 100px;
}

.main-blog article{
    flex-basis: calc(33% - 10px);
}

.main-review-content-title h2 {
    font-size: 2em;
}

.main-school-trophies > article {
    flex-basis: 100%;
    margin: 6px 0;
    font-size: 0.9em;

}

.main-tutor-socialmedia {
    max-width: 80%;
}

.main-tutor-socialmedia h2 {
    margin-bottom: 10px;
}

.main-tutor-socialmedia > article {
    flex-basis: 49%;
    margin-bottom: 10px;
}

.main-footer-ourclasses, .main-footer-links {
    flex-basis: calc(50% - 10px);
}

.main-footer-project{
    margin-top: 20px;
    flex-basis: 100%;

}

}





/* 640 pixels */
@media (max-width: 40em){

    .main-blog article{
        flex-basis: calc(50% - 10px);
    }

    .main-optin .main-optin-content form {
        flex-wrap: wrap;
    }

    .main-optin .main-optin-content form button {
        margin: 0 auto;
        margin-bottom: 10px;
        padding: 6px 8px;
    }

    .main-optin .main-optin-content form input{
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    .main-review-content-title h2 {
        font-size: 1.6em;
    }

    .main-review-content-comments > header {
        font-size: 1.2em;
    }

    .main-review-content-comments > article {
        flex-basis: 100%;
    }
 


}


/* 580 pixels */
@media (max-width: 36em){

    .main-tutor-socialmedia > article {
        flex-basis: 100%;
    }
}

/* 520 pixels */
@media (max-width: 32em){


    .main-school-content-right {
        display: none;
    }

    .main-school-address {
        flex-basis: 100%;
    }

    .main-blog article{
        flex-basis: 100%;
    }

}



/* 480 pixels */
@media (max-width: 30em){

    .main-header .main-header-content .logo {
        flex-basis: 260px !important;
    }

    .main-header .main-header-content .logo img{
        width: 100% !important;
        min-width: 260px;
    }

    .main-header-content-menu-mobile {
        flex-basis: calc(100% - 260px) !important;
        display: none;
        justify-content: flex-end;
    }

    .main-header-content-menu-mobile {
        display: flex;
    }

    .main-cta .main-cta-content .butn {
        font-size: 0.8em;
        min-width: 91px;
    }

    .main-cta .main-cta-content .main-cta-content-spacer {
        padding: 30px 20px 20px 20px;
    }

    .main-blog article{
        flex-basis: 100%;
    }

    .main-assets-content article {
        flex-basis: calc(100% - 40px);
        margin: 12px 0;
    }
}